# Local config folder and symbol database
.ipynb_checkpoints/
kaggle_face_detect/Data/training.csv
kaggle_face_detect/*.Rdata
kaggle_face_detect/data.Rd
testing/knn/cifar-10-python.tar
testing/knn/cifar-10-python.tar.gz
python-getting-started/
TCO-PCFStupskiPrize1/
